<aside id="sticky-social">
    <ul>
        <li>
            <a href="https://www.facebook.com/rumpusroomsydney/">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/rumpus_room_sydney/?hl=en">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="http://tripadvisor.com.au">
                <i class="fa fa-tripadvisor"></i>
            </a>
        </li>
    </ul>
</aside>
