<div class="angular-reservation-box">
    <uib-tabset active="reservationCtrl.selectedTab" justified="true">
        <uib-tab index="0">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true" class="angular-reservation-icon-size"></span>
                <h5 ng-if="reservationCtrl.secondTabLocked">{{"date"}}</h5>
                <h5 ng-if="!reservationCtrl.secondTabLocked">{{reservationCtrl.selectedDate | date: reservationCtrl.dateFormat}}</h5>
            </uib-tab-heading>

 

            <div ng-include="reservationCtrl.datepickerTemplate"></div>
        </uib-tab>

        <uib-tab index="1" disable="reservationCtrl.secondTabLocked">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-time" aria-hidden="true" class="angular-reservation-icon-size"></span>
                <h5 ng-if="reservationCtrl.thirdTabLocked">{{"time"}}</h5>
                <h5 ng-if="!reservationCtrl.thirdTabLocked">
                {{reservationCtrl.selectedHour.selectedHour}}
                </h5>
            </uib-tab-heading>



            <div class="angular-reservation-availableHour" ng-if="reservationCtrl.availableHours.length > 0">
                <div ng-include="reservationCtrl.availableHoursTemplate"></div>
            </div>

            <div ng-if="reservationCtrl.availableHours.length == 0">
                <div ng-include="reservationCtrl.noAvailableHoursTemplate"></div>
            </div>
        </uib-tab>

        <uib-tab index="2" disable="reservationCtrl.thirdTabLocked">
            <uib-tab-heading>
                <span class="glyphicon glyphicon-user angular-reservation-icon-size" aria-hidden="true"></span>
                <h5>{{"client"}}</h5>
            </uib-tab-heading>

            <form class="form-horizontal" name="reserveForm" novalidate
                  ng-submit="reserveForm.$valid && reservationCtrl.reserve(reservationCtrl.selectedDate, reservationCtrl.selectedHour.selectedHour, reservationCtrl.userData)">
                <fieldset>
                    <div ng-include="reservationCtrl.clientFormTemplate"></div>
                </fieldset>
            </form>
        </uib-tab>
    </uib-tabset>
</div>
